<div class="container my-4">
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-body">
          <h4 class="mb-4">Terjadi Kesalahan</h4>
          {{#if msg_error}}
              <div class="alert alert-danger mb-4">{{msg_error}}</div>
          {{/if}}
          {{#if msg_warning}}
              <div class="alert alert-danger mb-4">{{msg_warning}}</div>
          {{/if}}
         
        </div>
      </div>
    </div>
  </div>

</div>
